[submodule "assignment-0-RyanKerwick"]
	path = assignment-0-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/assignment-0-RyanKerwick.git
[submodule "assignment-1-RyanKerwick"]
	path = assignment-1-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/assignment-1-RyanKerwick.git
[submodule "assignment-2-RyanKerwick"]
	path = assignment-2-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/assignment-2-RyanKerwick.git
[submodule "assignment-3-RyanKerwick"]
	path = assignment-3-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/assignment-3-RyanKerwick.git
[submodule "assignment-4-RyanKerwick"]
	path = assignment-4-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/assignment-4-RyanKerwick.git
[submodule "assignment-5-RyanKerwick"]
	path = assignment-5-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/assignment-5-RyanKerwick.git
[submodule "assignment-6-RyanKerwick"]
	path = assignment-6-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/assignment-6-RyanKerwick.git
[submodule "assignment-7-RyanKerwick"]
	path = assignment-7-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/assignment-7-RyanKerwick.git
[submodule "assignment-8-RyanKerwick"]
	path = assignment-8-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/assignment-8-RyanKerwick.git
[submodule "assignment-9-RyanKerwick"]
	path = assignment-9-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/assignment-9-RyanKerwick.git
[submodule "course-project-RyanKerwick"]
	path = course-project-RyanKerwick
	url = https://github.com/cu-csci-2270-spring-2024/course-project-RyanKerwick.git
